accelerate
aiohappyeyeballs
aiohttp
aiosignal
anls
annotated-types
anthropic
antlr4-python3-runtime
anyio
async-timeout
attrs
av
black
blis
boto3
botocore
bpe
cachetools
capture-metric
catalogue
certifi
cfgv
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
DataProperty
datasets
datasketch
decord
diffusers
dill
distlib
distro
docker-pycreds
einops
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile
evaluate
exceptiongroup
FactualSceneGraph
filelock
flash-attn
fonttools
frozenlist
fsspec
ftfy
gitdb
GitPython
google-ai-generativelanguage<=0.6.15
google-api-core<=2.25.1
google-api-python-client<=2.172.0
google-auth<=2.40.3
google-auth-httplib2<=0.2.0
google-cloud-core<=2.4.3
google-cloud-translate<=3.20.3
google-generativeai<=0.8.5
googleapis-common-protos<=1.70.0
grpc-google-iam-v1<=0.14.2
grpcio
grpcio-status
h11
hf-xet
hf_transfer
httpcore
httplib2
httpx
huggingface-hub
hypothesis
identify
idna
importlib_metadata
iniconfig
isort
jaxtyping
Jinja2
jiter
jmespath
joblib
jsonlines
jsonschema
jsonschema-specifications
kiwisolver
langcodes
language_data
Levenshtein
litellm
locate
loguru
lxml
marisa-trie
lightning
markdown-it-py
MarkupSafe
mbstrdecoder
mdurl
mpmath
msgpack
multidict
multiprocess
murmurhash
mypy
mypy_extensions
networkx
nltk
nodeenv
omegaconf
hydra-core
openai
openpyxl
packaging
pathspec
pathvalidate
peft
pillow
pip-chill
platformdirs
pluggy
portalocker
pre_commit
preshed
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycocoevalcap
pycocotools
pycryptodome
pydantic
pydantic_core
Pygments
pynvml
pyparsing
pytablewriter
pytest
python-dateutil
python-dotenv
pytz
pywsd
PyYAML
RapidFuzz
referencing
regex
requests
rfc3986
rich
rouge
rpds-py
rsa
s3transfer
sacrebleu
safetensors
seaborn
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
shellingham
six
smart-open
smmap
sniffio
sortedcontainers
spacy
spacy-legacy
spacy-loggers
sqlitedict
srsly
sympy
tabledata
tabulate
tcolorpy
tenacity
thinc
threadpoolctl
tiktoken
timm
tokenizers
tomli
toolz
torch
torchvision
tqdm
transformers==4.52.3
transformers-stream-generator
triton
typepy
typer
types-requests
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
wadler_lindig
wandb
wasabi
wcwidth
weasel
wn
wordfreq
wrapt
xxhash
yarl
yt-dlp
zipp
zss
zstandard
